<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.young"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.young.util.ContextUtil"
        android:allowBackup="true"
        android:icon="@drawable/hbut"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.young.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.young.activity.LoginActivity" />
        <activity android:name="com.young.activity.MainActivity" />
        <activity android:name="com.young.activity.ScheduleActivity" />
        <activity android:name="com.young.activity.InfoActivity" />
        <activity android:name="com.young.activity.ChangePwdActivity" />
        <activity android:name="com.young.activity.LogoActivity" />
        <activity android:name="com.young.activity.ChoseScheduleTypeActitity" >
        </activity>
        <activity android:name="com.young.activity.ScoreManagementActivity" />
        <activity android:name="com.young.activity.LocalScheduleActivity" >
        </activity>
        <activity android:name="com.young.activity.InputOtherStuIdForScheduleActivity" >
        </activity>
        <activity android:name="com.young.activity.InsertScheduleActivity" >
        </activity>
        <activity android:name="com.young.activity.ChoseTermsActivity" >
        </activity>
        <activity android:name="com.young.activity.AboutUsActivity" >
        </activity>
    </application>

</manifest>